<div class="board-container centered">
  <table class="board-table" border="1">
    <tbody>
      <tr>
        <td><%#= ID %></td>
        <td>제목</td>
        <td>작성자</td>
        <td>작성일</td>
        <td>조회</td>
        <td>좋아요</td>
      </tr>
      <tr>
        <td>10000</td>
        <td>간식 좋아요</td>
        <td>익명</td>
        <td>2020.01.31</td>
        <td>13</td>
        <td>5</td>
      </tr>
    </tbody>
  </table>
</div>
