<div class="buttons centered">
  <button class="main-button-small" id="lunch-btn">🍙오늘의 밥</button>
  <button class="main-button-small" id="write-btn">✍글쓰기</button>
  <button class="main-button-small" id="board-watch-btn">📋게시판</button>
  
</div>
