<div class="header">
  <span class="header-title">대나무숲 🎋</span>
  <nav class="header-nav">
    <div class="header-nav-list">
      <ul>
        <li id="header-profile-btn">회원정보</li>
        <li id="header-logout-btn">로그아웃</li>
      </ul>
    </div>
  </nav>
</div>
