<div class="main centered">
  <div class="main-wrapper">
    <div class="main-title">대나무숲</div>
    <div class="main-desc">EXCLUSIVE! 시큐어 코딩 C반</div>
    <div class="main-container centered">
      <button class="main-button-big" id="main-signup">회원가입</button>
      <button class="main-button-big" id="main-login">로그인</button>
    </div>
  </div>
</div>
