<div class="main centered">
  <div class="main-title">C반 대나무숲</div>
  <div class="main-container">
    




    <button class="main-button" id="main-signup">회원가입</button class="main-butto" >
    <button class="main-button">로그인</button>
  </div>
</div>
