<div class="main centered">
  <div class="main-title">C반 대나무숲</div>
  <div class="main-container">
    <div class="main-signup">
        <form action="">
            <input type="text" id="signup-email" name="signup-email" placeholder="email"><br>
            
            <input type="password" id="signup-password" name="signup-password" placeholder="password"><br>
    
            <input type="text" id="signup-name" name="signup-name" placeholder="name"><br>
    
            <button class="main-button">가입하기</button>
    
        </form>
    </div>




    <button class="main-button" id="main-signup">회원가입</button class="main-butto" >
    <button class="main-button">로그인</button>
  </div>
</div>
