<!-- The Modal -->
<div id="modal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <img src="./img/lunch-sample.jpg" alt="lunch" class="lunch-image" />
  </div>
</div>
