<div id="modal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <img src="./img/lunch-sample(2020.2.03).jpg" alt="lunch" class="lunch-image" />
  </div>
</div>
