<div class="post-container centered">
  <div class="post-data" data-id="${postData.id}">
    <div class="post-header">
      <%= e.target.previousElementSibling.innerText %>
    </div>
    <div class="post-title"><%= >postData.title %></div>
    <div class="post-info">
      <span id="post-author"><%= postData.author %></span>
    </div>
    <div class="post-content"><%= postData.content %></div>
    <button
      class="main-button-small button-like"
      id="post-like-btn"
      data-count="${postData.like}"
    >
      👍좋아요
    </button>
    <button class="main-button-small button-comment" id="post-comment-btn">
      📘댓글쓰기
    </button>
    <button class="main-button-small button-delete" id="post-delete-btn">
      👿삭제하기
    </button>

    <div>
      <form class="comment-box">
        <div class="form-group">
          <label for="comment">Comment:</label>
          <textarea class="form-control" id="comment"></textarea>

          <tr>
            <td class="write-table-btn no-border">
              <button id="post-comment-btn" class="main-button-small">
                ⭐등록
              </button>
            </td>
          </tr>
        </div>
      </form>
    </div>
  </div>
</div>
