<!-- post부분 동적으로 랜더링 -->

<!-- <div class="post-container centered">
  <div class="post">
    <div class="post-title">Title</div>
    <div class="post-info">author and createdAt and like, view</div>
    <div class="post-content">content</div>
  </div>
</div> -->
