<div class="write-container">
  <input type="hidden" id="authorName" value="author" />
  <table class="write-table" border="1">
    <tr>
      <td>
        <input type="text" class="write-input" placeholder="제목을 입력하삼" />
      </td>
    </tr>
    <tr>
      <td>
        <textarea
          name="textarea"
          class="write-textarea"
          rows="6"
          placeholder="내용을 입력하삼"
        ></textarea>
      </td>
    </tr>
    <tr>
      <td class="write-table-btn no-border">
        <button id="write_btn" class="main-button-small">올리는 것이여</button>
      </td>
    </tr>
  </table>
</div>
