/* Default Setting */
:root {
  --main-green: #2c6705;
  --bamboo-green: #6e9a42;
  --light-green: #aec957;
  --beige: #e2dbac;
  --shadow: grey;
}

@font-face {
  font-family: "SSM";
  src: url("../font/Typo_SsangmunDongB.ttf") format("truetype");
}

html {
  height: 100vh;
}

body {
  height: 100%;
}

button {
  all: unset;
}

button:focus {
  outline: none;
}

/* General */
.centered {
  text-align: center;
}

/* Specific */
.main {
  height: 90vh;
  margin: auto;
}

.main-title {
  top: 50;
  font-family: "SSM", sans-serif;
  color: var(--main-green);
  font-size: 200px;
}

.main-button_container {
  margin-top: 3rem;
}

.main-button {
  /* font-family: "SSM", sans-serif; */
  /* color: white; */
  display: block;
  text-align: center;
  width: 200px;
  height: 20px;
  margin: 1rem auto;
  padding: 0.5rem;
  border: 2px solid var(--bamboo-green);
  border-radius: 20px;
  transition: all 0.2s;
}

.main-button:hover {
  background-color: var(--bamboo-green);
  color: white;
  box-shadow: 5px 5px 5px var(--shadow);
}
