/* Default Setting */
:root {
  --main-green: #2c6705;
  --bamboo-green: #6e9a42;
  --light-green: #aec957;
  --beige: #e2dbac;
  --shadow: grey;
  --background: #efefef;
}

@font-face {
  font-family: "SSM";
  src: url("../font/Typo_SsangmunDongB.ttf") format("truetype");
}
@font-face {
  font-family: "NN";
  src: url("../font/NanumSquare.ttf") format("truetype");
}

html {
  height: 100vh;
  background-color: var(--background);
}

body {
  height: 100%;
  font-family: "NN", sans-serif;
}

a,
ul,
li,
button {
  all: unset;
}

button:focus {
  outline: none;
}

/* 
 * General 
 */
.centered {
  text-align: center;
}

.active {
  color: var(--main-green);
}

/* button */

.main-button-big {
  /* font-family: "SSM", sans-serif;
    font-weight: normal; */
  display: block;
  text-align: center;
  width: 200px;
  height: 20px;
  margin: 1rem auto;
  padding: 0.5rem;
  border: 2px solid var(--bamboo-green);
  border-radius: 20px;
  transition: all 0.2s;
}

.main-button-big:hover {
  background-color: var(--bamboo-green);
  color: white;
  box-shadow: 5px 5px 5px var(--shadow);
}

.main-button-small {
  /* font-family: "SSM", sans-serif; */
  /* color: white; */
  display: inline-block;
  text-align: center;
  width: 100px;
  height: 20px;
  margin: 1rem auto;
  padding: 0.5rem;
  border: 2px solid var(--bamboo-green);
  border-radius: 20px;
  transition: all 0.2s;
  font-weight: bold;
}

.main-button-small:hover {
  background-color: var(--bamboo-green);
  color: white;
  box-shadow: 5px 5px 5px var(--shadow);
}

/* 
 * Specific 
 */

/* header */
.header {
  margin: 2rem 5%;
}

.header-title {
  font-family: "SSM", sans-serif;
  color: var(--main-green);
  font-size: 30px;
}
.header-title:hover {
  text-decoration: none;
  color: var(--main-green);
  cursor: pointer;
}
.header-nav {
  display: block;
  float: right;
  font-size: 20px;
  font-weight: bold;
}
.header-nav li {
  display: inline-block;
  margin: 1rem 1rem;
  cursor: pointer;
}
.header-nav li:hover {
  color: var(--main-green);
  cursor: pointer;
}

/* main */
.main {
  height: 90vh;
  margin: auto;
}
.main-wrapper {
  padding: 5% 0;
  text-align: center;
}

.main-title {
  top: 50;
  font-family: "SSM", sans-serif;
  color: var(--main-green);
  font-size: 200px;
}

.main-desc {
  font-family: "SSM", sans-serif;
  color: var(--light-green);
  font-size: 30px;
}

.main-container {
  margin-top: 3rem;
}

.main-signup,
.main-login {
  /* box-shadow: 3px 3px 3px grey; */
  /* border: 1px solid var(--beige); */
  width: 40%;
  height: auto;
  margin: auto;
}

.main-signup-form,
.main-login-form {
  margin: 1rem auto 2rem auto;
}

.main-signup-form input,
.main-login-form input {
  border: 1px solid grey;
  width: 80%;
  height: 30px;
  margin: 0.2rem auto;
  padding: 5px;
  border-radius: 5px;
}

.main-signup-title,
.main-login-title {
  font-family: "SSM", sans-serif;
  color: var(--main-green);
  font-size: 30px;
}

/* board */
.board-container {
  margin: auto;
  width: 100%;
}

.board-table {
  border: 1px;
  border-color: black;
  width: 80%;
  margin: 0 10%;
}

.board-table thead {
  background-color: var(--light-green);
}

#board-page-nav {
  margin-top: 0.5rem;
}
#board-page-nav a {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

#board-page-nav a:hover {
  color: red;
}

/* write */
.write-table {
  border: 1px;
  border-color: black;
  width: 80%;
  margin: 0 10%;
}

.write-input {
  margin: 1rem;
  width: 97%;
  border: none;
  font-size: 20px;
}
.write-input:focus {
  outline: none;
}
.write-textarea {
  margin: 1rem;
  width: 97%;
  border: none;
  font-size: 20px;
}

.write-table-btn {
  float: right;
}

.no-border {
  border: none;
  /* border-right: none;
  border-left: none;
  border-bottom: none; */
}

/* modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  overflow: auto;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 1rem;
  width: 50%;
}

.close {
  color: grey;
  float: left;
  font-size: 30px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--main-green);
  text-decoration: none;
  cursor: pointer;
}

/* lunch */
.lunch-image {
  width: auto;
}
